extends ../../../manage

block content
  .paddStyle
    #scrollToTop.container
      h1.logo.logo-font.fontHead  ADD DOWNLOAD SECTION
      .row.contactFrame
        .col-md-12
          ul.errors
            if errors
              each error,i in errors
                li.alert.alert-danger #{error.msg}
            form.form-horizontal(role='form', method='post', action='/admin/download/add')
              .form-group
                label.control-label.col-sm-2(for='name') Title : 
                .col-sm-10
                  input#title.form-control(type='name', name='title', placeholder='Enter title')
              .form-group
                label.control-label.col-sm-2 Duration : 
                .col-sm-10
                  input#duration.form-control(type='name', name='duration', placeholder='Duration') 
              .form-group
                label.control-label.col-sm-2 Download Link : 
                .col-sm-10
                  input#downloadLink.form-control(type='url', value='http://example.com', name='downloadLink')
              .form-group
                .col-sm-offset-2.col-sm-10
                  button.btn.btn-primary(type='submit') Submit
            input(type='hidden', name='_csrf', value='{_csrf}')