extends ../../../manage

block content
	.container-fluid
		#scrollToTop.container
			h1.text-center.logo.logo-font.fontHead DASHBOARD
			br
			br
			.row
				.col-md-2
				.col-md-8.well.align-center
					img.img-responsive.img-circle.center-block(src='../img/gallery_img/1.jpg')
				.col-md-2

