extends ../../../manage

block content
  .paddStyle
    #scrollToTop.container
      h1.logo.logo-font.fontHead  ADD QUOTE SECTION
      .row.contactFrame
        .col-md-12
          form.form-horizontal(role='form', method='post', action='/admin/quote/add')
            .form-group
              label.control-label.col-sm-2(for='name') Phrase : 
              .col-sm-10
                input#title.form-control(type='name', name='phrase', placeholder='Enter phrase')
            .form-group
              .col-sm-offset-2.col-sm-10
                button.btn.btn-primary(type='submit') Submit
          input(type='hidden', name='_csrf', value='{_csrf}')