extends ../../../manage

block content
  .paddStyle
    #scrollToTop.container
      h1.logo.logo-font.fontHead QUOTE SECTION
      h4 #[a(href='/admin/quote/add') Add Quote]
      .row
        .col-md-12
        .container
          if quotes
            table.table.table-striped.table-bordered.table-hover.table-condensed.tableFrame
              thead
                tr
                  th Phrase
                  th Date  
                  th
                  th
              tbody
                each quote,i in quotes
                  tr
                    td #{quote.phrase}
                    td #{quote.date}   
                    td #[a.btn.btn-primary.center-block(href='/admin/quote/edit/#{quote._id}') Edit]
                    td #[a.btn.btn-danger.center-block.removeQuote(data-id='#{quote._id}') Delete]
          else
            p.nodownloads No content to display.